<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/registration">Registration</a>
<h1>LOGIN PAGE</h1>

<div class="login">
    <div>LOGIN</div>
    <div><input id="name" type="text" name="name" ></div>
    <div>PASSWORD</div>
    <div><input id="password" type="text" name="pass"></div>
    <button id="submit">login</button>
    <div id="error"></div>
</div>
</body>
<script src="main.js"></script>
</html>