body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: azure;
}
.login {
    height: calc(90% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login div {
    margin: 4px;
}
#error {
    color: red;
    margin: 0;
}
button {
    margin: 10px;
    width: 30%;
}
a {
    text-decoration: none;
    font-size: 23px;
    padding: 30px;
    text-align: right;
    width: 48px;
}
a:hover {
    color: darkred;
}
h1  {
    text-align: center;
}