<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/login">Login</a>
<div class="home">
    <div id="user"></div>
    <input type="search" id="search" placeholder="Search">
    <div>
        <div class="buttons">
            <button id="myPosts">My posts</button>
            <button id="addNewPost">Add new post</button>
            <button id="friendsPost">Friends post</button>
        </div>
        <div id="content">
            <div id="contentAddPost">
                <input type="text" id="titlePost" placeholder="Title">
                <input type="text" id="contentPost" placeholder="Content">
                <button id="addMyPost">Add</button>
            </div>
            <div class="message"> <span id="messageAddNewPost"></span> </div>
            <div id="posts"></div>
        </div>
    </div>
</div>
</body>
<script src="addPost.js"></script>
<script src="myPost.js"></script>
<script src="search.js"></script>
<script src="friendsPosts.js"></script>
<script src="render.js"></script>
<script src="main.js"></script>
</html>
