<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/login">Login</a>
<h1>REGISTRATION PAGE</h1>
<div class="registration">
    <div>Login</div>
    <div><input id="registrationName" type="text" ></div>
    <div>Email</div>
    <div><input id="registrationEmail" type="text"></div>
    <div>Password</div>
    <div><input id="registrationPassword" type="text"></div>
    <div>Avatar</div>
    <div><input id="registrationAvatar" type="text"></div>
    <button id="registrationButton">registration</button>
</div>
</body>
<script src="main.js"></script>
</html>